$primary-color: #525dce;
$primary-background: #222;
:root {
  --primary: #525dce;
  --secondary: #222;
}

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
  display: block;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
input,
button,
textarea,
select {
  white-space: revert;
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Rubik', 'Helvetica', 'Arial', sans-serif;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

main {
  min-height: 100vh;
  width: 100%;
  background-color: #f1f1f1;
}
html {
  font-size: 14px;
  @media (max-width: 480px) {
    font-size: 11px;
  }
}
